 <section class="herohero is-halfheight">
        <div class="hero-body">
          <p class="title has-text-white-bis has-text-right">
           Need your item shipped quickly?
          </p>
          <p class="subtitle has-text-white-bis has-text-right">
            Let a peer help you out!
            <div class="buttons is-flex-direction-row-reverse">
              <a href="#" class="button is-light">
                <strong>Sign up</strong>
              </a>         
            </div>
          <img  src="/public/stylesheets/shutterstock_429499837.jpg" alt="Placeholder image">
        </div>
      </section>
      
<script src="/javascript/login.js"></script>