<section class="hero is-fullheight-with-navbar">
  <div class="hero-body ">
    <div class="columns">
      <div class="column">
        <image class="">
          <img src="/stylesheets/Peer2Peer Delivery Logo (1).svg">
        </image>
      </div>

      <div class="column">
        <form class="login-form">
          <h1 class=" has-text-white ml-5 is-size-3 has-text-justified ">LOG IN</h1>
          {{!-- <div class="column is-mobile"> --}}
            <div class="column control">
              <input class="input block" id="email-login" type="email" placeholder="Email">
              <input class="input" type="password" id="password-login" placeholder="Password">
            </div>
            <label class="checkbox has-text-white-bis block ml-3">
              <input type="checkbox">
              Remember me
            </label>

            <div class="buttons block ml-3">
              {{!-- <button type="submit">
                <a class="button">Log In</a>
              </button> --}}

              <button type="submit" class="button">Log In
              </button>


            </div>
        </form>
      </div>
      <div class="column">
        <form class="signup-form">
          <h1 class=" has-text-white ml-5 is-size-3 has-text-justified ">SIGN UP</h1>

          <div class="column control">
            <input class="input block" id="firstname-signup" type="text" placeholder="First Name">
            <input class="input block" id="lastname-signup" type="text" placeholder="Last Name">
            <input class="input block" id="email-signup" type="email" placeholder="Email">
            <input class="input block" type="password" id="password-signup" placeholder="Password">
          </div>
          <label class="checkbox has-text-white-bis block ml-3">
            <input type="checkbox">
            I agree to the <a href="#">terms and conditions</a>
          </label>

          <div class="buttons block ml-3">
            {{!-- <button type="submit">
              <a class="button"></a>
            </button> --}}

            <button type="submit" class="button">Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  </div>
</section>
<script src="/javascript/login.js"></script>