<section class="hero is-fullheight-with-navbar">
  <div class="hero-body ">
    <div class="columns">
      <div class="column">
        <figure class="image is-100x100">
          <img src="/public/stylesheets/Peer2Peer Delivery Logo (1).svg">
        </figure>
      </div>
      <div class="columns">
        <div class="column is-mobile">
          <div class="column is-half control has-icons-left has-icons-right">

            <p class="control has-icons-left is-dark">
              <input class="input block" type="email" placeholder="Email">
              <input class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock "></i>
              </span>
            </p>
          </div>
          <label class="checkbox has-text-white-bis">
            <input type="checkbox">
            Remember me
          </label>


        </div>
      </div>


    </div>
</section>