<section class="hero is-fullheight-with-navbar">
  <div class="hero-body ">
    <div class="columns">
      <div class="column is-one-third">
        <figure class="image is-100x100">
          <img src="/public/stylesheets/Peer2Peer Delivery Logo (1).svg">
        </figure>
      </div>
      <div class="columns">
        <div class="column">
          <div class="column block level ">
    <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Card header
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</section>