.hero-body { 
  background-color: #333;
  color: aliceblue;
};
.button {
  color: #FF8C00;
};



#logo {
  color: #FF8C00;
}; 

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


.mapcontainer {
  width:100vw;
  height:100vh;
  background-color: lightblue;
  display:grid;

}






#map {
  height: 600px;
  width: 600px;
  align-self: center;
  justify-self: center;
};  

